<li>
	{{name}}

	{{#unless devoured}}
		<button class="devour btn btn-outline-secondary btn-sm" data-id="{{id}}" data-devourstate="{{devoured}}" type="button">
			Devour
		</button>
	{{/unless}}
</li>
