<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Eat a Burger!</h1>
            <p>Enter the burger you want and click submit.</p>
            <form id="burgerForm">
                <div class="input-group mb-3">
                    <input type="text" id="burgerName" class="form-control" placeholder="burger name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h2>Burgers available:</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                    {{> burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
            <hr>
        </div>
    </div>

    <div class="row" id="devouredRow">
        <div class="col-md-6">
            <h2>Burgers devoured:</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
